{% extends "base.html" %}
{% block content %}
<div class='row'>
	<div class='col-sm-11 col-sm-offset-3'>
	<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
	<p class="text-align-center">Es una historia muy larga! tienes tiempo? Te quedas un ratico para que te lo contemos?
	</p>
	<p class="text-align-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante dui, egestas ac felis sed, vestibulum efficitur diam. Nullam in ligula sapien. Cras ullamcorper, nulla et tristique vestibulum, quam eros mollis nisl, id porttitor enim felis eu mi. Donec bibendum ipsum ut ipsum viverra, sed commodo eros semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam imperdiet a quam vitae ullamcorper. Vivamus nec sem porta, congue odio sit amet, dignissim lacus. </p>

	<p class="text-align-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante dui, egestas ac felis sed, vestibulum efficitur diam. Nullam in ligula sapien. Cras ullamcorper, nulla et tristique vestibulum, quam eros mollis nisl, id porttitor enim felis eu mi. Donec bibendum ipsum ut ipsum viverra, sed commodo eros semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam imperdiet a quam vitae ullamcorper. Vivamus nec sem porta, congue odio sit amet, dignissim lacus. </p>

	<p class="text-align-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante dui, egestas ac felis sed, vestibulum efficitur diam. Nullam in ligula sapien. Cras ullamcorper, nulla et tristique vestibulum, quam eros mollis nisl, id porttitor enim felis eu mi. Donec bibendum ipsum ut ipsum viverra, sed commodo eros semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam imperdiet a quam vitae ullamcorper. Vivamus nec sem porta, congue odio sit amet, dignissim lacus. </p>
	</div>
</div>
{% endblock %}