{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}


<style>
{% block style %}
.jumbotron{
	background-color: #172548 !important;
	color: white !important;
}

.fa-5x{
	font-size: 6em !important;
}


{% endblock %}
</style>


{% block jumbotron %}
<div class="jumbotron">
<div class="container">

<div class='row'>
<div class='col-sm-6'>
		<h2><strong>Curso FTE - RPAS</strong></h2>
        <p class="lead">Un proyecto para principiantes. El objetivo es contruir una página web simple a la par que elegante en muy poco tiempo</p>
        <p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Únete &raquo;</a>
        </p>
</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/jspr5KDiUSw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>
</div>
</div>
{% endblock %}



{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
	<div class="col-sm-3 col-xs-12 float-right">
		<p class='lead text-align-center'>{{ titulo }}</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type='submit' value='Recibir' />
		</form>
	</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Creado con Django &amp; Bootstrap.<br/>
	<i class="fas fa-smile fa-spin fa-5x" style ="color:orange"></i></p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Y con mucho amor, claro.</p><img src='{% static "img/1.png" %}'/> 
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Código abierto, siempre.<br/><br/><i class="fas fa-cog fa-spin fa-5x"></i>
	<i class="fab fa-font-awesome-flag fa-5x"></i>

	</p>
</div>
</div>

<hr/>
{% endblock %}